
.movie-title{
    white-space: normal;
    color: white;
    width: 180px;
    font-size: 20px;
    font-weight: 700;
}
img{
    width:230px;
    cursor: pointer;

}
.movieCards{
    width: 18%;
    
}
.movie-card {
    position: relative;
    cursor: pointer;
  
    .image-container {
      position: relative;
      overflow: hidden;
      display: inline-block;
      text-decoration: none; 
  
      img {
        max-width: 100%;
        height: auto;
        display: block;
        transition: transform 0.3s ease;
        
      }
  
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.436);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;
  
        p {
          color: #fff;
          font-size: 18px;
          text-align: center;
          opacity: 0;
          transition: opacity 0.3s ease;
        }
      }
  
      &:hover {
        img {
          transform: scale(1.4);
          cursor: pointer;
        }
  
        .overlay {
          opacity: 1;
  
          p {
            opacity: 1;
            font-size: 20px;
            color: black;
            font-weight: 700;
           
          }
        }
      }
    }

  }
  
.card{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 16rem;
 
    background-color: rgb(0, 0, 0);
    margin-top: 20px;
    height: 370px !important;
}
.card-group{
    margin-left: 0%!important;
    width: 100%;
    background-color: rgb(30, 29, 29);
    display: flex !important;
    flex-flow: row wrap !important;
    flex-wrap: wrap !important;
  
    flex-direction: row-reverse !important;
   

}
.card-image{
    width: 100%;
    display: flex;
    justify-content: center;
}
.button{
    border: none;
    background-color: rgb(0, 0, 0);
    color:white;
    
}
.Row{
    padding: 10px ;
     background-color: rgb(73, 69, 69);
 }
 .Id{
    font-size: 18px;
    display: flex;
  align-items: flex-start;
  height: 40px;
 }
 span {
    width: 100%;
 }
 .custom-carousel {
    overflow-x: scroll;
    white-space: nowrap;
  }
  
  .carousel-inner {
    display: inline-flex;
    width: auto;
  }

 