.carouselControl {
    display: flex;
    justify-content: center;
  }
  
  .carouselControl .carousel {
    position: relative;
    width: 50%; /* Full width on mobile */
    max-width: 450px; /* Increased max width */
    margin: 0 auto;
  }
  
  .carouselControl .carousel img {
    width: 100%; /* Ensure images take up full width of container */
    height: auto; /* Maintain aspect ratio */
  }
  
  @media (min-width: 768px) {
    .carouselControl .carousel {
      width: 80%; /* Wider on tablets */
    }
  }
  
  @media (min-width: 1024px) {
    .carouselControl .carousel {
      width: 60%; /* Wider on desktops */
    }
  }