/* Styles for modal body */
.modal-body {
  article {
    font-size: 18px;
  }
}

/* Styles for rates section */
.rates {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rates p {
  font-size: 16px;
}

/* Styles for buttons */
.ButtonsFun,
.buttons {
  display: flex;
  justify-content: center;
  border-top: none !important; /* Remove top border for these footers */
}

.ButtonsFun .UpdateBtn {
  width: 100%;
}

.buttons button {
  width: 50%;
  margin-left: 5px; /* Add some margin between buttons */
  margin-right: 5px; /* Add some margin between buttons */
}
.modal-footer{
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap !important;
  align-items: center;
  justify-content: flex-end;
  padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap)* .5);
  background-color: var(--bs-modal-footer-bg);
  border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
  border-bottom-right-radius: var(--bs-modal-inner-border-radius);
  border-bottom-left-radius: var(--bs-modal-inner-border-radius);

}
.input-container {
  position: relative;
  margin: 15px;
  height: 90px;
  display: flex;
}

.input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-label {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-80%);
  pointer-events: none;
  font-size: 17px;
  padding-left: 16px;
  color: #999;
  transition: top 0.3s, font-size 0.3s, color 0.3s;
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  top: 0;
  font-size: 19px;
  color: #007bff;
}